@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}


/* NEW HEADER STARTS */

header {
    background: transparent;
    width: 100%;
    height: 80px;
    z-index: 99999999999;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.267);
}

.menu-wrapper {
    width: 80%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index: 999;
}

.menu-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0;
    margin: 0;
}

.menu-links ul li {
    list-style: none;
}

.position-relative {
    position: relative;
}

.dropdown-menu {
    width: 100%;
    height: auto !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
}

.dropdown-menu li {
    width: 100%;
}

.menu-links ul li a {
    color: white;
    padding: 0px 20px;
}

.menu-links ul li a:hover {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

.myhamburger-wrapper {
    display: none;
}

@media screen and (max-width:950px) {
    .menu-wrapper {
        width: 95%;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }
    .menu-links {
        width: 100%;
        display: none;
        justify-content: center;
        position: absolute;
        top: 77px;
        left: 0;
        z-index: 99;
    }
    .menu-links ul li a {
        color: rgb(10, 10, 10);
    }
    .menu-links ul {
        display: block;
        background: #f3f3f3;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .menu-links ul li:hover {
        background: #ffffff;
        border-bottom: 4px solid #1e88e5;
    }
    .menu-links ul li a:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .menu-links-mobile li:hover {
        border: none !important;
    }
    .menu-wrapper {
        line-height: 65px;
    }
    .dropdown-links {
        background: #f3f3f3 !important;
    }
    .myhamburger-wrapper {
        display: block;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .myhamburger {
        width: 30px;
        height: 4px;
        background: white;
        position: relative;
        cursor: pointer;
        z-index: 999;
    }
    .myhamburger::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
    }
    .myhamburger::after {
        content: '';
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
    }
}

@media screen and (min-width:950px) {
    .collapse-lg {
        position: absolute !important;
        background: #1565C0 !important;
    }
    .dropdown-links {
        display: block !important;
        flex-direction: column !important;
        height: auto !important;
    }
}


/* NEW HEADER ENDS */


/* Main section starts */

#main {
    width: 100%;
    height: auto;
    background-image: url('/assets/img/slider.jpg');
    padding-top: 170px;
    padding-bottom: 50px;
}

.btn-sharur {
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    background: #1E88E5;
}

.btn-sharur:focus {
    outline: none;
}

.fa-long-arrow-right {
    transition: 0.1s ease-in-out;
}

.btn-sharur:hover {
    background: #1a66ff;
}

.btn-sharur:hover .fa-long-arrow-right {
    transform: translate(5px, 0px);
}

@media screen and (max-width: 768px) {
    #main {
        padding-top: 40px;
    }
}

.fa-chevron-circle-down {
    animation: updown 1.2s ease-in-out infinite;
    cursor: pointer;
}

@keyframes updown {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 20px);
    }
}

.main-circle {
    transform: translate(0px, -20px);
}

@media screen and (max-width:768px) {
    .main-circle {
        transform: translate(0px, -40px);
    }
}


/* Main section ends */


/* What we do section starts */

.circle-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.icon {
    position: absolute;
    color: #fff;
    font-size: 55px;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}

.circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
}

.circle-wrapper:active .circle {
    animation: spin 2s linear infinite;
}

.success {
    background-color: #1E88E5;
    border: 2.5px dashed #1E88E5;
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

.my-icon-wrapper {
    width: 100px;
    height: 100px;
    background: #1E88E5;
    border-radius: 50%;
    position: relative;
}

.my-icon {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}

.my-icon-border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1.5px solid #1E88E5;
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    animation: bigger 1.5s linear infinite;
}

@keyframes bigger {
    from {
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    to {
        width: 120px;
        height: 120px;
        opacity: 0;
    }
}


/* What we do section ends */


/* About us section starts */

#about-us {
    width: 100%;
    height: auto;
    background-image: url('/assets/img/slider2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-image {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.295);
}


/* About us section starts */


/* Services2 section starts */

#services2 {
    width: 100%;
    height: auto;
    position: relative;
}

#services-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1064px) {
    #services2 {
        background: #5B23CC;
    }
}

.service-card {
    border: none !important;
}

.service-card:hover {
    box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.123);
}

.services-more:hover .fa-long-arrow-right {
    transform: translate(5px, 0px);
}

.testimonial-slider {
    width: 60%;
    margin: auto;
    padding: 50px 0px;
}

.fa-quote-left {
    width: 60px;
    height: 60px;
    background: grey;
    border-radius: 50%;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:950px) {
    .testimonials-wrapper h4 {
        color: white !important;
    }
    .testimonial-slider {
        width: 80%;
        color: white !important;
    }
    .testimonial-slider span {
        color: white !important;
    }
}


/* Services2 section ends */


/* Showcase section starts */

#showcase {
    width: 100%;
    height: auto;
    background: #F6F6F8;
}

.project-img {
    width: 100%;
    height: auto;
    transition: 0.5s ease-in-out;
}

.project-card {
    position: relative;
    overflow: hidden;
}

.project-card:hover .project-card-overlay {
    transform: translate(0px, 0px);
}

.project-card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4986ffc9;
    transform: translate(-600px, 0px);
    transition: 0.3s linear;
    z-index: 6;
}

.project-card-overlay:hover .fa-search {
    transform: scale(1.7);
    transition: 0.6s ease-in-out;
}

.project-card:hover .project-img {
    transform: scale(1.4);
}

.fa-search {
    transition: 0.6s ease-in-out;
}

.project-overlay-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


/* Showcase section ends */


/* Our Customers section starts */

#our-customers {
    width: 100%;
    height: auto;
    background: rgb(243, 243, 243);
}

.customer-logo {
    width: 200px;
    margin: auto;
}


/* Our Customers section ends */


/* Newsletter section starts */

#newsletter {
    width: 100%;
    height: auto;
    background: white;
    padding: 30px 0px;
}

.newsletter-input {
    border-bottom-left-radius: 50px !important;
    border-top-left-radius: 50px !important;
}

@media screen and (max-width:992px) {
    .newsletter-input-wrapper {
        width: 100% !important;
    }
}

@media screen and (max-width:450px) {
    .newsletter-input-wrapper {
        width: 100% !important;
        display: block !important;
    }
    .newsletter-input {
        border-radius: 50px !important;
        width: 100% !important;
    }
    .subscribe-button {
        width: 100% !important;
        height: 40px !important;
        margin-top: 10px !important;
        background: #1E88E5;
        border: none;
        color: white;
        border-radius: 50px !important;
    }
}

.subscribe-button {
    width: 200px;
    height: auto;
    background: #1E88E5;
    border: none;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.subscribe-button:focus {
    outline: none;
}

.subscribe-button:hover .fa-long-arrow-right {
    transform: translate(5px, 0px);
}


/* Newsletter section starts */


/* Footer section starts */

footer {
    width: 100%;
    height: auto;
    background: rgb(241, 241, 241);
    padding-top: 50px;
}

footer ul {
    list-style: none;
}

footer ul li {
    padding: 5px;
}

.footer-link {
    text-decoration: none !important;
    color: rgb(102, 102, 102);
}


/* Footer section ends */


/* <!-- Scroll to top button --> */

.scroll-to-top {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #4986ffbe;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    animation: toTop 0.3s ease-in-out;
    cursor: pointer;
}

.scroll-to-top:hover {
    background: #4986ff;
}

@keyframes toTop {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}


/* <!-- Scroll to top button --> */